.name_text {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
}

.list_item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.btn {
  margin-left: auto;
  width: 85px;
}

.list {
  padding-left: 0;
}
